<div>
  <div class="modal show" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Neue Beziehung anlegen</h4>
          <button type="button" class="close" (click)='onClose.emit()'>&times;</button>
        </div>
        <form (submit)="addRelation()" #relationForm="ngForm">
          <fieldset id="group1">
            <!-- Modal body -->
            <div class="modal-body">
              <strong>{{primaryPerson.vorname}} {{primaryPerson.nachname}}</strong>

              <select class="form-control form-control-primary" [(ngModel)]="relationType" name="relationTypeList" required>

                <option *ngFor="let relationType of relationTypes" [ngValue]="relationType">
                  {{relationType.getDescription()}}
                </option>

              </select>

              <div class="container-fluid">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Vorname</th>
                      <th>Nachname</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let person of persons" (click)="secondaryPersonId = person.id + ''">
                      <td><input type="radio" name="group1" [(ngModel)]="secondaryPersonId" value={{person.id}} click-stop-propagation required></td>
                      <td>{{ person.vorname }}</td>
                      <td>{{ person.nachname }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="submit" [attr.disabled]="relationForm.form.invalid ? '' : null" class="btn btn-roman">Beziehung anlegen</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-backdrop show"></div>
</div>