<div>
  <br>
  <div class="form-inline md-form form-sm">
    <div class="form-group" style="margin-left: 1vw">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <input [(ngModel)]="searchText" placeholder="Suchbegriff eingeben" class="form-control mr-3 w-40 "
          aria-label="Suche">
        <button (click)="onCreatePerson()" class="btn btn-roman float-right">Neuen Kontakt anlegen</button>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <table class="table">
      <thead>
        <tr>
          <th>Anrede / Titel</th>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Adresse</th>
          <th>Telefon</th>
          <th>Handy</th>
          <th>E-Mail</th>
          <th>Löschen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons | filter : searchText" (click)="onPersonClick(person)">
          <td>{{ person.anrede }}</td>
          <td>{{ person.vorname }}</td>
          <td>{{ person.nachname }}</td>
          <td>{{ person.adresse }}</td>
          <td>{{ person.telefon }}</td>
          <td>{{ person.handy }}</td>
          <td>{{ person.email }}</td>
          <td>
            <!-- <div class="text-danger"><span (click)="$event.stopPropagation();deletePerson(person)">Löschen</span> -->
            <!-- </div> -->

            <button type="submit" click-stop-propagation (click)='personToDelete = person'
              class="btn btn-danger">Person löschen</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <delete-person-dialog [hidden]="personToDelete === null" [person]='personToDelete' (on-person-deleted)='refresh()'
    (on-close)='personToDelete = null'></delete-person-dialog>
</div>