.tooltip-wrapper {
    position: relative;
    width: 200px;
  }
  
  .tooltip-wrapper .tooltip {
    background: #404040;
    top: 100%;
    color: #fff;
    display: block;
    left: -50px;
    margin-top: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 150%;
    transform: translateY(10px);
    transition: all .25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  }
  
  .tooltip-wrapper .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
  }  
  
  .tooltip-wrapper .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid #404040 10px;
    top: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
  }
    
  .tooltip-wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
  }

  .btn-roman {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
  }
  
  .btn-roman:hover {
    color: #fff;
    background-color: #19886E;
    border-color: #115F4D;
  }