<div>
  <div class="modal show" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Kontakt löschen</h4>
          <button type="button" class="close" (click)='onClose.emit()'>&times;</button>
        </div>
        <form (submit)="deletePerson();">
          <fieldset id="group1">
            <!-- Modal body -->
            <div class="modal-body">
              <div class="container-fluid">
                <div *ngIf="person">
                  <div class="form-group">
                    <label for="vorname">Vorname</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fa fa-address-book"></i>
                        </div>
                      </div>
                      <input [(ngModel)]="person.vorname" id="vorname" name="vorname" type="text" class="form-control"
                        readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="nachname">Nachname</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fa fa-address-book"></i>
                        </div>
                      </div>
                      <input [(ngModel)]="person.nachname" id="nachname" name="nachname" type="text"
                        class="form-control" readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger">Kontakt löschen</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-backdrop show"></div>
</div>