<div>
  <div class="modal show" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Beziehung löschen</h4>
          <button type="button" class="close" (click)='onClose.emit()'>&times;</button>
        </div>
        <div *ngIf="relation" class="container-fluid">
          <form (submit)="deleteRelation()">
            <fieldset id="group1">
              <!-- Modal body -->
              <div class="modal-body">
                <div class="container-fluid">
                  <div>
                    <div class="form-group">
                      <label for="vorname">Vor- und Nachname</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fa fa-address-book"></i>
                          </div>
                        </div>
                        <input [(ngModel)]="primaryPerson.vorname + ' ' + primaryPerson.nachname" id="primaryName"
                          name="primaryName" type="text" class="form-control" readonly>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="type">Beziehungsart</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fa fa-address-book"></i>
                          </div>
                        </div>
                        <input [(ngModel)]="relationText" id="type" name="type" type="text" class="form-control"
                          readonly>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="vorname">Vor- und Nachname</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fa fa-address-book"></i>
                            </div>
                          </div>
                          <input [(ngModel)]="relatedPerson.vorname + ' ' + relatedPerson.nachname" id="relatedName"
                            name="relatedName" type="text" class="form-control" readonly>
                        </div>
                      </div>
                  </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="submit" class="btn btn-danger">Beziehung löschen</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop show"></div>
</div>