<div>
  <br>
  <div *ngIf="person" class="container-fluid">
    <div *ngFor="let error of errors" class="alert alert-danger">{{error}}</div>
    <div class="row">
      <div class="col">
        <form #personForm="ngForm">
          <div class="form-group">
            <label for="personId">ID</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-hashtag"></i>
                </div>
              </div>
              <input [(ngModel)]="person.id" name="id" placeholder="ID wird automatisch erzeugt" id="personId"
                type="text" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="anrede">Anrede / Titel</label>
            <div>
              <input [(ngModel)]="person.anrede" id="anrede" name="anrede" required="required" type="text"
                class="form-control" required class="form-control" #anrede="ngModel"
                pattern="[a-zA-Z ]*[\. ]*[a-zA-Z ]*[\. ]*[a-zA-Z ]*[\. ]*">
            </div>
            <div *ngIf="anrede.invalid && (anrede.dirty || anrede.touched)" class="alert alert-danger">
              <div *ngIf="anrede.errors.required">
                Anrede ist erforderlich.
              </div>
              <div *ngIf="anrede.errors.pattern">
                Anrede darf nur Buchstaben enthalten.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="vorname">Vorname</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-address-book"></i>
                </div>
              </div>
              <input [(ngModel)]="person.vorname" id="vorname" name="vorname" placeholder="Vorname eingeben" type="text"
                required class="form-control" #vorname="ngModel" pattern="[a-zA-Z ]*">
            </div>
            <div *ngIf="vorname.invalid && (vorname.dirty || vorname.touched)" class="alert alert-danger">
              <div *ngIf="vorname.errors.required">
                Name ist erforderlich.
              </div>
              <div *ngIf="vorname.errors.pattern">
                Name darf nur Buchstaben enthalten.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nachname">Nachname</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-address-book"></i>
                </div>
              </div>
              <input [(ngModel)]="person.nachname" id="nachname" name="nachname" placeholder="Nachname eingeben"
                type="text" required class="form-control" #nachname="ngModel" pattern="[a-zA-Z ]*">
            </div>
            <div *ngIf="nachname.invalid && (nachname.dirty || nachname.touched)" class="alert alert-danger">
              <div *ngIf="nachname.errors.required">
                Name ist erforderlich.
              </div>
              <div *ngIf="nachname.errors.pattern">
                Name darf nur Buchstaben enthalten.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="adresse">Adresse</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-home"></i>
                </div>
              </div>
              <input [(ngModel)]="person.adresse" id="adresse" name="adresse" placeholder="Adresse eingeben" type="text"
                aria-describedby="adresseHelpBlock" required class="form-control" #adresse="ngModel">
            </div>
            <span id="adresseHelpBlock" class="form-text text-muted">Straße mit Hausnummer, Postleitzahl und
              Wohnort</span>
            <div *ngIf="adresse.invalid && (adresse.dirty || adresse.touched)" class="alert alert-danger">
              <div *ngIf="adresse.errors.required">
                Adresse ist erforderlich.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Emailadresse</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </div>
              </div>
              <input [(ngModel)]="person.email" id="email" name="email" placeholder="Emailadresse eingeben" type="email"
                required class="form-control" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors.required">
                E-Mail ist erforderlich.
              </div>
              <div *ngIf="email.errors.pattern">
                E-Mail im falschen Format!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="telefon">Telefonnummer</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-phone"></i>
                </div>
              </div>
              <input [(ngModel)]="person.telefon" id="telefon" name="telefon" placeholder="Telefonnummer eingeben"
                type="tel" required class="form-control" #telefon="ngModel" pattern="[0-9+/ ]*">
            </div>
            <div *ngIf="telefon.invalid && (telefon.dirty || telefon.touched)" class="alert alert-danger">
              <div *ngIf="telefon.errors.required">
                Telefonnummer ist erforderlich.
              </div>
              <div *ngIf="telefon.errors.pattern">
                Nummer im falschen Format!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="handy">Handynummer</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-mobile-phone"></i>
                </div>
              </div>
              <input [(ngModel)]="person.handy" id="handy" name="handy" placeholder="Handynummer eingeben" type="tel"
                required class="form-control" #handy="ngModel" pattern="[0-9+/ ]*">
            </div>
            <div *ngIf="handy.invalid && (handy.dirty || handy.touched)" class="alert alert-danger">
              <div *ngIf="handy.errors.required">
                Handynummer ist erforderlich.
              </div>
              <div *ngIf="handy.errors.pattern">
                Handynummer im falschen Format!
              </div>
            </div>
          </div>
          <div class="form-group">
            <button (click)="save()" [attr.disabled]="personForm.form.invalid ? '' : null" class="btn btn-roman">Kontakt
              speichern</button>
            <button (click)="navigateToOverview()" class="btn btn-secondary float-right">Zurück</button>
          </div>
        </form>
      </div>
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th>Beziehung</th>
              <th>Löschen</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let relation of person.relations">
              <td>
                {{relationTexts.getRelationDefinition(relation.type, relation.isPrimaryPerson(person.id)).getDescription()}}
                {{relation.getRelatedPerson(person.id).vorname}} {{relation.getRelatedPerson(person.id).nachname}}
              </td>
              <td>
                <!-- <div class="text-danger"><span (click)="deleteRelation(relation)">Löschen</span></div> -->
                <button type="submit" (click)='relationToDelete = relation' class="btn btn-danger">Beziehung
                  löschen</button>
              </td>
            </tr>
          </tbody>
        </table>

        <br>
        <div *ngIf="relationToDelete" class="container-fluid">
          <delete-relation-dialog [relation]='relationToDelete' [primary-person]='person'
            (on-relation-deleted)='refreshPerson()' (on-close)='relationToDelete = null'></delete-relation-dialog>
        </div>

        <relation *ngIf="showAddRelationsDialog" [primary-person]='person' (on-relation-created)='refreshPerson()'
          (on-close)='showAddRelationsDialog = false'></relation>

        <button type="submit" [attr.disabled]="!person.id ? '' : null" class="btn btn-roman tooltip-wrapper"
          (click)="showAddRelationsDialog = true">
          <div class="tooltip" *ngIf="!person.id">Die Person muss erst gespeichert werden.</div>
          Beziehung anlegen
        </button>
      </div>
    </div>
  </div>
</div>